<div ng-controller="MapController">
    <div id="modal.html">
    <h2>{{markerTitle}}</h2>
    <p>by <strong>{{ individMarker.user }}</strong></p>
    <p>{{individMarker.review}}</p>
    <p class="reviewRightAlign">{{individMarker.rating}} / 5</p>
    <p>{{individMarker.coords.id | date:'medium'}}</p>
    <button class="btn btn-danger" ng-if="r.user === user.displayName" ng-click="ReviewsCtrl.deleteReview(r._id)">Delete</button>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="close()">Cancel</button>
        </div>
    </divt>
</div>
